<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <display-name>JSPWiki</display-name>
   <description>
       JSPWiki is a free JSP-based WikiClone.  It is licenced
       under the Lesser GNU General Public License.

       JSPWiki is maintained by Janne Jalkanen (+others),
       jalkanen+jspwiki@ecyrd.com
   </description>



   <!--
       Now, let's define the XML-RPC interfaces.  You probably don't have to
       touch these.

       First, we'll define the standard XML-RPC interface.
     -->
   <servlet>
       <servlet-name>XMLRPC</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.xmlrpc.RPCServlet</servlet-class>       
       <init-param>
           <param-name>handler</param-name>
           <param-value>com.ecyrd.jspwiki.xmlrpc.RPCHandler</param-value>
       </init-param>

       <init-param>
           <param-name>prefix</param-name>
           <param-value>wiki</param-value>
       </init-param>
   </servlet>

   <!--
       OK, this then defines that our UTF-8 -capable server.
     -->

   <servlet>
       <servlet-name>XMLRPC-UTF8</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.xmlrpc.RPCServlet</servlet-class>       
       <init-param>
           <param-name>handler</param-name>
           <param-value>com.ecyrd.jspwiki.xmlrpc.RPCHandlerUTF8</param-value>
       </init-param>

       <init-param>
           <param-name>prefix</param-name>
           <param-value>wiki</param-value>
       </init-param>
   </servlet>

   <servlet>
       <servlet-name>ATOM</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.atom.AtomAPIServlet</servlet-class>       
   </servlet>

   <servlet>
       <servlet-name>WikiServlet</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.WikiServlet</servlet-class>       
   </servlet>

   <servlet>
       <servlet-name>DAVServlet</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.dav.WikiDavServlet</servlet-class>
   </servlet>

   <!--
       Attachment exchange handler.
     -->

   <servlet>
       <servlet-name>AttachmentServlet</servlet-name>
       <servlet-class>com.ecyrd.jspwiki.attachment.AttachmentServlet</servlet-class>
   </servlet>

   <!-- PLACEHOLDER FOR PRE-COMPILED JSP SERVLETS -->

   <!--
       And finally, let us tell the servlet container which
       URLs should correspond to which XML RPC servlet.
     -->

   <!-- By default, this is disabled.  If you want to enabled it,
        just uncomment the whole section. -->

   <!--  REMOVE ME TO ENABLE XML-RPC

   <servlet-mapping>
       <servlet-name>XMLRPC</servlet-name>
       <url-pattern>/RPC2/</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
       <servlet-name>XMLRPC-UTF8</servlet-name>
       <url-pattern>/RPCU/</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
       <servlet-name>ATOM</servlet-name>
       <url-pattern>/atom/*</url-pattern>
   </servlet-mapping>

   AND REMOVE ME TOO -->

   <servlet-mapping>
       <servlet-name>AttachmentServlet</servlet-name>
       <url-pattern>/attach/*</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
       <servlet-name>WikiServlet</servlet-name>
       <url-pattern>/wiki/*</url-pattern>
   </servlet-mapping>

   <!-- Remove to enable WebDav. EXPERIMENTAL FEATURE!
   <servlet-mapping>
       <servlet-name>DAVServlet</servlet-name>
       <url-pattern>/dav/*</url-pattern>
   </servlet-mapping>
   -->

   <!-- This means that we don't have to use redirection
        from index.html anymore.  Yay! -->
   <welcome-file-list>
       <welcome-file>Wiki.jsp</welcome-file>
   </welcome-file-list>

   <!--
       By default we just limit access to the Delete.jsp, as it
       is actually dangerous.
   -->

   <security-constraint>
       <web-resource-collection>
           <web-resource-name>Protected Area</web-resource-name>
           <url-pattern>/Delete.jsp</url-pattern>
       </web-resource-collection>
       <auth-constraint>
           <role-name>Admin</role-name>
           <role-name>Authenticated</role-name>
       </auth-constraint>
   </security-constraint>
      
   <!--
       Here we define the users which are allowed to access JSPWiki
       editor.

       I'll provide here an example case where you can set up a Wiki
       which allows everyone read access, but only authenticated
       users are allowed to edit (i.e. access the Edit.jsp page).

       To enable this, replace the previous section with this section.

       We setup here two sample roles, "admin" and "user".
       There is no real difference between these two for now.

       You must also add to your $TOMCAT_HOME/conf/tomcat-users.xml
       the actual user accounts.
   -->

   <!--  START OF ACCESS RESTRICTION -->
   <security-constraint>
       <web-resource-collection>
           <web-resource-name>Protected Area</web-resource-name>
           <url-pattern>/Edit.jsp</url-pattern>
           <url-pattern>/Upload.jsp</url-pattern>
           <url-pattern>/Comment.jsp</url-pattern>
           <url-pattern>/Delete.jsp</url-pattern>
           <url-pattern>/LoginRedirect.jsp</url-pattern>
           <url-pattern>/UserPreferences.jsp</url-pattern>
           <http-method>DELETE</http-method>
           <http-method>GET</http-method>
           <http-method>POST</http-method>
           <http-method>HEAD</http-method>
           <http-method>PUT</http-method>
       </web-resource-collection>

       <web-resource-collection>
           <web-resource-name>Read-only Area</web-resource-name>
           <url-pattern>/attach</url-pattern>
           <http-method>DELETE</http-method>
           <http-method>POST</http-method>
           <http-method>PUT</http-method>
       </web-resource-collection>

       <auth-constraint>
           <role-name>Admin</role-name>
           <role-name>Authenticated</role-name>
       </auth-constraint>

       <user-data-constraint>
           <transport-guarantee>CONFIDENTIAL</transport-guarantee>
       </user-data-constraint>
   </security-constraint>

   <login-config>
     <auth-method>FORM</auth-method>
     <form-login-config>
       <form-login-page>/Login.jsp</form-login-page>
       <form-error-page>/Login.jsp</form-error-page>
     </form-login-config>
   </login-config>

   <security-role>
     <description>
       This logical role includes all authenticated users
     </description>
     <role-name>Authenticated</role-name>
   </security-role>

   <security-role>
     <description>
       This logical role includes all administrative users
     </description>
     <role-name>Admin</role-name>
   </security-role>
<!--   -->

</web-app>
