<?xml version="1.0" encoding="UTF-8"?>
<groups>
  <group name="TV" created="2006.06.20 at 14:50:54:000 EDT" modifier="" lastModified="2006.01.21 at 14:50:54:000 EST">
    <member principal="Archie Bunker" />
    <member principal="BullwinkleMoose" />
    <member principal="Fred Friendly" />
  </group>
  <group name="Literature" created="2006.06.22 at 14:50:54:000 EDT" modifier="" lastModified="2006.01.23 at 14:50:54:000 EST">
    <member principal="Charles Dickens" />
    <member principal="Homer" />
  </group>
  <group name="Art" created="2006.06.24 at 14:50:54:000 EDT" modifier="" lastModified="2006.01.25 at 14:50:54:000 EST"/>
  <group name="Admin" created="2006.06.25 at 14:50:54:000 EDT" modifier="" lastModified="2006.01.26 at 14:50:54:000 EST">
    <member principal="Administrator" />
  </group>
</groups>