<?xml version="1.0" encoding="UTF-8"?>
<groups>
  <group name="TV" created="Jun 20, 2006 2:50:54 PM" lastModified="Jan 21, 2006 2:50:54 PM">
    <member principal="Archie Bunker" />
    <member principal="BullwinkleMoose" />
    <member principal="Fred Friendly" />
  </group>
  <group name="Literature" created="Jun 22, 2006 2:50:54 PM" lastModified="Jan 23, 2006 2:50:54 PM">
    <member principal="Charles Dickens" />
    <member principal="Homer" />
  </group>
  <group name="Art" created="Jun 24, 2006 2:50:54 PM" lastModified="Jan 25, 2006 2:50:54 PM"/>
  <group name="Admin" created="Jun 25, 2006 2:50:54 PM" lastModified="Jan 26, 2006 2:50:54 PM">
    <member principal="Administrator" />
  </group>
</groups>