grant principal org.apache.wiki.auth.authorize.Role "All" {
    permission org.apache.wiki.auth.permissions.WikiPermission "*", "login";
};

grant principal org.apache.wiki.auth.authorize.Role "Authenticated" {
    permission org.apache.wiki.auth.permissions.PagePermission "*:*", "view";
};

grant principal org.apache.wiki.auth.WikiPrincipal "Janne Jalkanen" {
    permission org.apache.wiki.auth.permissions.PagePermission "*:*", "edit,delete";
};

grant principal "Bob" {
    permission org.apache.wiki.auth.permissions.PagePermission "*:*", "edit,delete";
};
