grant principal com.ecyrd.jspwiki.auth.authorize.Role "All" {
    permission com.ecyrd.jspwiki.auth.permissions.WikiPermission "*", "login";
};

grant principal com.ecyrd.jspwiki.auth.authorize.Role "Authenticated" {
    permission com.ecyrd.jspwiki.auth.permissions.PagePermission "*:*", "view";
};

grant principal com.ecyrd.jspwiki.auth.WikiPrincipal "Janne Jalkanen" {
    permission com.ecyrd.jspwiki.auth.permissions.PagePermission "*:*", "edit,delete";
};

grant principal "Bob" {
    permission com.ecyrd.jspwiki.auth.permissions.PagePermission "*:*", "edit,delete";
};
