<?xml version="1.0" encoding="UTF-8"?><users>
  <user email="janne@ecyrd.com" fullName="Janne Jalkanen" loginName="janne" password="{SHA}457b08e825da547c3b77fbc1ff906a1d00a7daee" wikiName="JanneJalkanen" created="Jan 29, 2006 2:50:54 PM" lastModified="Jan 29, 2006 2:50:54 PM"/>
  <user email="user@example.com" loginName="user" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jan 29, 2006 2:50:54 PM" lastModified="Jan 29, 2006 2:50:54 PM"/>
  <user loginName="admin" wikiName="Administrator" fullName="Administrator" email="admin@locahost" password="{SHA}457b08e825da547c3b77fbc1ff906a1d00a7daee" created="Jan 29, 2006 2:50:54 PM" lastModified="Jan 29, 2006 2:50:54 PM"  />
  <user loginName="Alice" wikiName="Alice" fullName="Alice" email="alice@example.com" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jul 9, 2006 11:08:54 AM" lastModified="Jul 9, 2006 11:08:54 AM"/>
  <user loginName="Bob" wikiName="Bob" fullName="Bob" email="bob@example.com" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jul 9, 2006 11:08:54 AM" lastModified="Jul 9, 2006 11:08:54 AM"/>
  <user loginName="Charlie" wikiName="Charlie" fullName="Charlie" email="charlie@example.com" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jul 9, 2006 11:08:54 AM" lastModified="Jul 9, 2006 11:08:54 AM"/>
  <user loginName="Fred" wikiName="FredFlintstone" fullName="Fred Flintstone" email="fred@example.com" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jul 9, 2006 11:08:54 AM" lastModified="Jul 9, 2006 11:08:54 AM"/>
  <user loginName="Biff" wikiName="Biff" fullName="Biff" email="biff@example.com" password="{SHA}5baa61e4c9b93f3f0682250b6cf8331b7ee68fd8" created="Jul 9, 2006 11:08:54 AM" lastModified="Jul 9, 2006 11:08:54 AM"/>
</users>