/* JSPWiki stylesheet jspwiki.css
 * April 07, based on BrushedTemplate
 * Styles can be overwritten by print and skin stylesheets
 * /

/* COLOR scheme   
	normal font color
	#eee code, comment, weblogentries, (light grey)
	#d7d7d7 table header(darker grey)
	#bbb table borders,
	#d9e8ff edit background
	#f93 highlight colors, searchbars, ...  (amber)
	#e0e0ff information (light blue)
	#ffff80 warning (light yellow)
	#ffe0e0 error (light pink)
 */

/* +++ 010 LAYOUT of main ID blocks +++ */
#wikibody {
	margin:1em 2em; 
	padding:0.25em;
}
#header, #page, #actionsBottom, #footer {
	margin-left:20%;
}
#header .applicationlogo {
	position:absolute;
	left:2em; 
	width:18%;
	text-align:center;
}
#footer .applicationlogo,
#footer .companylogo,
#footer .wikiversion,
#footer .rssfeed,
#header .companylogo { 
	display:none; 
}
#header .pagename {
	float:left;
}
#header .searchbox {
	float:right;
}
#header .breadcrumbs {
	clear:both;
}
#favorites {
	position:absolute;
	left:2em;
	width:18%;
	top:80px; /* make place for the logo */
}
#footer {
	border-top:2px solid #d7d7d7;
}
#footer .copyright { 
}
#page { 
	margin-top:1em;
}
#actionsTop	{ 
	position:absolute; 
	right:2.25em; 
	margin-top:0.5em; 
}
#actionsBottom {
	text-align:right;
	position:relative;
}


/* +++ 200 Generic stuff here +++ */
/* refined global reset */
/* inspired by http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ and yui reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body { 
	color:black; 
	background:white; 
	margin: 0;
	/*font: 12px/1.5 "Lucida Grande", Arial, Helvetica, Sans-Serif;*/
	font:76%/140% Verdana,Arial,Helvetica,sans-serif;
}
table {	
	border-collapse:collapse; 
	border-spacing:0;
	empty-cells:show; 
}

h1, h2, h3, h4, p, pre, blockquote, label, ul, ol, dl, hr, .hr {
	margin:0.5em 0; 
}
th, td { 
	padding:0.25em 0.5em; 
}
.hr { 
	display:block;
	clear:both;
	border-bottom:1px solid #bbb; 
}

/* +++ 210 Page titles, headings, and paragraphs +++ */
.pagename {
	font-size:175%;
	line-height:1.4;
	font-weight:bold;
	margin-bottom:0.5em;
}
h2, h3, h4 {
	position:relative;
	clear:both;
	margin:1em 0;
}

/* +++ 220 Lists and bullets +++ */
ul ul, ol ol {
	margin:0;
}
ul,ol {
	padding-left:1.8em;
}
dl dt {
	font-weight:bold;
	font-size:1.2em;
}
dl dd {
	margin-left:5em;
}

/* +++ 225 Forms, Labels, form-values and form-help +++ */
.wikiform {
}
.wikiform tr {
	vertical-align:middle;
}
.wikiform td {
}
.formvalue {
	font-weight:bold;
}
.formhelp {
	font-style:italic;
	margin:0.5em 0;
}
legend, label {
	font-weight:bold;
	font-size:90%;
	white-space:nowrap;
	padding-right:0.5em;
}
fieldset {
	margin:0.5em 0;
	padding:0.5em;
	border:1px solid #bbb;
}
.wikiform input[type='submit'], .wikiform input[type='button'] {
	cursor:pointer;
}
.wikiform input, .wikiform option {
	padding:0 0.25em;
}

/* +++ 240 Pre-formatted text blocks and code +++ */
tt,pre {
	font-family:Monaco, "Courier New", Courier, monospace;
	overflow:auto;
}
pre {
	white-space:pre;
	margin:1em 2em;
	padding:0.5em;
	background:#eee;
	border:1px solid #bbb;
}

                           
/* +++ 250 Hyperlinks +++ */
a {
	color:blue;
}
a:link {
}
a:visited {
}
a:active {
}
a:hover {
}
a:focus {
}
a.wikipage {
}
a.editpage {
	color:red;
	text-decoration:none;
	border-bottom:1px dashed red;
}
a.external {
}
a.interwiki {
}
a.feed {
	background-image:url(images/xml.png);
	background-repeat:no-repeat;
	background-position:left;
	padding:4px 0 0 20px;
}


/* +++ 260 Image styles +++ */
img {
	border:0;
	/* max-width:99%; FIXME ff ok to fit in parent */
}
img.inline {
}
img.outlink {
} 
img.attlink {
} 
.applicationlogo a {
	display:block;
	height:64px;
	overflow:hidden;
	text-indent:-1000px;
	background:url(../../images/jspwiki_logo_s.png) no-repeat center;
}
.applicationlogo a:hover {
	background:url(../../images/jspwiki_logo.png) no-repeat center;
}


/* +++ 270 Footnotes and small text +++ */
a.footnoteref {
	vertical-align:super;
	font-size:85%;
}
a.footnote {
	vertical-align:super;
	color:#04A;
}
.small {
	font-size:85%;
}
.sub {
	font-size:85%;
	vertical-align:sub;
}
.sup {
	font-size:85%;
	vertical-align:super;
}
.strike {
	text-decoration:line-through;
}
.center {
	text-align:center;
}
.center table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
.ltr {
	direction:ltr;
}
.rtl {
	direction:rtl;
}
.invisible {
	display:none;
}  /* also used by the TASKS plugin */


/* +++ 280 Convenience styles and info/warning/error dialogs +++ */
.additinfo {
	background-color:#e0e0ff; /*#fff7c0;*/
}
.diffnote,
.information,
.warning,
.error {
	display:block;
	margin:1em .5em;
	padding:1em 1em 1em 2.5em;
	background-position:.8em .9em;
	background-repeat:no-repeat;
}
td .information,
td .warning,
td .error {
	margin:0;
}
.diffnote,
.information {
	background-image:url(images/information.png);
	background-color:#e0e0ff;
}
.warning {
	background-image:url(images/error.png);
	background-color:#ffff80;
}
.error {
	background-image:url(images/exclamation.png);
	background-color:#ffe0e0;
	color:#c00000;
}
.error * li {
	margin-left:0;
	padding-left:0;
}

/* +++ 290 Comment boxes (used on some pages) +++ */
.commentbox {
	float:right;
	width:35%;
	overflow:hidden;
	border:1px solid #bbb;
	background:#eee;
	padding:0.25em;
	margin-left:0.25em;
	font-size:90%;
}
.commentbox li {
	margin-left:0;
	padding-left:0;
}

/* +++ 300 Wiki tables and zebra tables +++ */
.wikitable {
	border:1px solid #bbb;
	margin:0.5em 0.25em;
}
.wikitable tr {
	vertical-align:top;
}
.wikitable * th {
	border:1px solid #bbb;
	background-color:#d7d7d7;
	vertical-align:top;
}
.wikitable * td {
	border:1px solid #bbb;
	vertical-align:top;
	text-align:left;
	/*word-wrap:break-word;*/
}
.zebra-table tr.odd td {
	background-color:#eee;
}

.wikitable * td.split {
	border-top:1px solid #d9d9d9;
} /* CHECK */

/* +++ 350 Attachments +++ */
#attachments {
}

#uploax {
	float:left;
}
#progressbar {
	float:left;
	margin-left:1em;
	width:30em;
	border:2px solid #bbb;
	visibility:hidden;
}
#progressbar .ajaxprogress {
	background:url(images/progress.gif) repeat-x;
	height:18px;
	text-align:center;
	width:0%;
}
.attachtype {
	line-height:1.6;
	font-size:11px;
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:left;
	background-image:url(images/page_white.png);
}
#attach-gif {
	background-image:url(images/page_white_magnify.png);
}
#attach-png {
	background-image:url(images/page_white_magnify.png);
}
#attach-bmp {
	background-image:url(images/page_white_magnify.png);
}
#attach-jpg {
	background-image:url(images/page_white_magnify.png);
}
#attach-jpeg {
	background-image:url(images/page_white_magnify.png);
}

#attach-text {
	background-image:url(images/page_white_text.png);
}
#attach-txt {
	background-image:url(images/page_white_text.png);
}

#attach-zip {
	background-image:url(images/page_white_zip.png);
}
#attach-jar {
	background-image:url(images/page_white_zip.png);
}
#attach-tar {
	background-image:url(images/page_white_zip.png);
}

#attach-pdf {
	background-image:url(images/page_white_acrobat.png);
}
#attach-doc {
	background-image:url(images/page_white_word.png);
}
#attach-xls {
	background-image:url(images/page_white_excel.png);
}
#attach-ppt {
	background-image:url(images/page_white_powerpoint.png);
}
#attach-swf {
	background-image:url(images/page_white_flash.png);
}

#attach-mov {
	background-image:url(images/film.png);
}
#attach-mp3 {
	background-image:url(images/ipod.png);
}
#attach-wav {
	background-image:url(images/ipod.png);
}


/* +++ 400 Styles for specific JSPs +++ */

/* +++ 405 AttachmentTab +++ */

/* +++ 410 CommentContent +++ */
#commentcontent {
}

/* +++ 415 ConflictContent +++ */
#conflict,
#conflictother,
#conflictown {
}

/* +++ 420 DiffContent and Diff Providers:Traditional and External +++ */
#diffcontent {
}
.diffbody {
	display:block;
	margin:1em .5em;
	padding:0.25em;
}
/* .diffnote equals .information */
td.diffadd,
td.diffrem,
td.diff {
	font-family:Monaco, "Courier New", Courier, monospace;
	overflow:auto;
	line-height:1;
}
td.diffadd {
	background:#9f9;
}
td.diffrem {
	background:#f93;
}
td.diff {
	background:#fff;
}

/* +++ 421 Contextual diff provider +++ */
.diff-wikitext {
	font-family:Monaco, "Courier New", Courier, monospace;
	line-height:1;
	overflow:auto;
}
.diff-insertion {
	background:#9f9;
	text-decoration:none;
	color:black;
} 
.diff-deletion {
	background:#f93;
	text-decoration:line-through;
	color:black;
} 
.diff-nextprev {
	vertical-align:super;
	text-decoration:none;
}


/* +++ 425 Edit/EditContent and CommentContent +++ */
body.edit {
} 
body.comment {
} 
#edithelp {	 
}

/* +++ 430 Edit/EditContent +++ */
.textarea-resizer {
	background:#f93; 
	cursor:s-resize; /* css3 row-resize */ 
	height:4px; 
}
.edit textarea {
	font-family:Monaco, "Courier New", Courier, monospace;
	font-size:1em;
	padding:4px;
} 
#editorarea {
	width:100%;
	padding:4px;
}
#editform input {
	margin-right:2em;
}

#editorbar {
	float:right;
	text-align:right;
	width:25%;
}
#commentcontent,
#editcontent {
	width:99%;
}
#edithelp {
}
#searchbar {
	margin:1em 0;
}
#searchbarhelp {
}
#findSuggestionMenu {
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	border:2px solid #bbb;
	background-color:white;
}
#findSuggestionMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#findSuggestionMenu li { 
	display:block;
	padding:0.25em;
}
#findSuggestionMenu li:hover { 
	background:#f93;
}

/* +++ 440 Favorites +++ */
.username {
	font-style:italic;
	font-weight:bold;
	padding:0.25em 1em;
}
.wikiversion,
.rssfeed {
	font-size:90%;
	padding:0.5em;
	text-align:center;
}

/* +++ 450 FindContent +++ */
#details, #scope {
	margin-left:2em; 
}
.gBar {
	position:relative;
}
.graphBar {
	border-color:#f93;
	padding:2px;
}
.fragment {
	margin:0.25em;
	font-family:Monaco, "Courier New", Courier, monospace;
	font-size:0.9em;
}
.fragment_ellipsis {
	font-weight:bold;
}
/* For the search_highlight.js.  This style defines the how the words that have
   been found look like.  If you look for "thingy", you will get these following
   in the results.
   <span class="searchword">thingy</span>
 */
.searchword, .cursor, .searchmatch {
	background-color:#f93;
	color:black;
	text-decoration:inherit;
} 

/* +++ 455 Footer +++ */
.copyright {
	margin:1em 0;
	padding:0.25em;
	font-size:90%;
	text-align:center;
}

/* +++ 460 Header +++ */
.breadcrumbs {
	font-size:90%;
	padding:0 1.5em 1em 0;	 
}

/* +++ 465 InfoContent +++ */
#infocontent {
}
#incomingLinks, #outgoingLinks, #externalLinks, #attachmentLinks, #versionhistory {
}  
#versionhistory td {
	white-space:nowrap;
}  
.pagination {
	margin:.25em;
	padding:.5em;
	background:#e0e0ff;	 
}
.changenote {
	font-style:italic;
} /* fixme */


/* +++ 470 PageActions +++ */
.pageactions {
	padding:0.25em 2em 0 0;
	line-height:1.5;
}
.pageactions a {
	padding:0.5em;
}
.pageactions .pageinfo a  { 
	padding:0;
}
.pageactions a:hover {
	background-color:#f93;
}
.pageactions .pageinfo a:hover {
	background-color:transparent;
}
.pageactions .pageinfo {
	margin:0.25em 0 0 0;
}
.pageinfo,
.actionHome,
.actionView,
.actionEdit,
.actionComment,
.actionPrefs,
.actionAttach,
.actionInfo,
.actionIndex,
.actionRecentChanges,
.actionLogin,
.actionLogout {
}
#actionsMorePopup {
	position:absolute;
	top:2em;
	right:0;
	z-index:20;
	background:white;
	border:2px solid #bbb;
}
#actionsMorePopup ul {
	list-style:none;
	margin:0;
	padding:0;
}
#actionsMorePopup li {
	display:block;
	line-height:1.5;
}
#actionsMorePopup li:hover {
	background-color:#f93;
}
#actionsMorePopup a {
	background-color:transparent;
}
#actionsMorePopup .actionSeparator { 
	height:2px;
	border-bottom:2px solid #bbb;
}

.quick2top a, .quick2bottom a {
	position:absolute; 
	right:0;
 	overflow:hidden;
	padding:0; 
	text-indent:20px;
 	width:20px; 
}
.quick2top a {
 	background:url(images/arrup.png) no-repeat center;
}
.quick2bottom a {
	top:0;
 	background:url(images/arrdown.png) no-repeat center;
}
.quick2top a:hover, .quick2bottom a:hover {
	background-color:#f93;
}


/* +++ 472 PageContent.jsp +++ */
#pagecontent {
	position:relative;
}
 

/* +++ 475 PreviewContent - "This is a preview" comment +++ */
#previewcontent {
}  
.previewcontent {
	background:url(images/preview.gif);
}  

/* +++ 480 PreferencesContent, LoginContent, GroupContent +++ */


/* +++ 485 SearchBox +++ */
.spin, #spin { 
	background:url(images/spin.gif) no-repeat;
	width:16px;
	height:16px;
}
.searchbox {
	margin:0 0 0 0.5em;
}
#searchSubmit {
	margin:0; padding:0;
	width:16px; 
	height:16px;
	border:none;
	background: #fff url(images/search.png) no-repeat center;
	overflow:hidden;	
    text-indent:16px;
    cursor:pointer;
}
#searchboxMenu {
	position:absolute;
	padding:0.25em;
	z-index:10;
	right:2em;
	top:3.5em;
	background:white;
	border:2px solid #bbb;
}
#searchboxMenu ul {
	list-style:none;
	margin:0;
	padding:0;
}
#searchboxMenu li {
	padding:0 0.5em;
}

#searchTools a:hover, #searchboxMenu li:hover { 
	background:#f93;
}
#searchboxMenu div      { 
	margin:0.5em 0;
}
#searchTools { 
	text-align:left;
}

/* +++ 490 ViewTemplate +++ */
body.view {
	/*background-image:white;*/ 
}


/* +++ 600 JSPWiki plugins +++ */

/* +++ 610 Image plugin +++ */
.imageplugin {
	margin:.5em;
}
.imageplugin img {
	border:0;
}
.imageplugin caption {
	font-size:90%;
}

/* +++ 620 Index plugin +++ */
.index {
}
.index .header {
	padding:4px;
	background:#eee;
	border:1px solid #bbb;
	text-align:center;
	font-size:1.4em;
}
.index .body {
}
.index .section {
	color:red;
	font-size:1.4em;
}

/* +++ 625 Table of contents plugin +++ */
.toc {
	width:60% 
}
.toc h4 {
	font-size:1.4em;
}
.toc ul {
	padding-left:0;
	list-style:none;
}
.toc li {
	margin-left:1em;
	padding-left:0;
}
.toc li.toclevel-1 {
	margin-left:0.5em;
}
.toc li.toclevel-2 {
	margin-left:1.5em;
}
.toc li.toclevel-3 {
	margin-left:2.5em;
}


/*continue here ...*/

/* +++ 630 Weblog and weblogarchive plugins +++ */
.weblog {
	margin:0 2em;
}
.weblogentry {
}
.weblogentryheading {
	margin-top:1em;
	padding:0 0.5em;
	background:#e0e0e0;
}
.weblogentrytitle {
	padding:0.25em 0.5em;
	font-size:120%;
	font-weight:bold;
}
.weblogentrybody {
	margin-left:0.5em;
}
.weblogentryfooter {
	font-size:90%;
	padding:0 0.5em;
	background:#e0e0e0;
	clear:both;
}
.weblogarchive {
}
.weblogarchive ul {
}
.weblogarchive li {
	margin-left:1em;
	display:block;
	list-style-type:none;
}
.archiveyear {
	font-weight:bold;
	text-decoration:none;
	margin-left:0 !important;
}
.archiveyear:after {
	content:" AD" 
}

.weblogcommentstitle {
	background:#e0e0e0;
	margin:1em 0.5em 0 0.5em;
	padding:0.5em;
	font-weight:bold;
	font-size:120%;
	line-height:1.1;
}
.weblogcomments {
	background:#eee;
	margin:0 0.5em 1em 0.5em;
	padding:1em;
}


/* +++ 640 RecentChangesPlugin +++ */
.recentchanges {
	table-layout:fixed;
} /*faster renderer */
.recentchanges .changenote { 
	font-style:italic;
}
.recentchanges td {
	vertical-align:top;
	border-bottom:1px solid #eee;
}
.recentchanges .date {
	vertical-align:bottom;
	border-top:1.5em solid white;
	background-color:#eee !important;
	border-bottom:none;
}
.recentchanges tr.odd td {
	background-color:transparent;
} 


/* +++ 800 JSPWiki JSP Taglibs +++ */
   
/* +++ 805 CalendarTag +++ */
div.calendar {
	border:1px solid black;
}
table.calendar {
}
table.calendar td {
	text-align:center;
}
table.calendar td.othermonth {
	color:#707070;
}
table.calendar td.link {
	background:#eee;
}
table.calendar tr.month {
}
table.calendar tr.weekdays {
	color:red;
}

/* +++ 900 "Special-effects" JavaScript styles +++ */
   
/* +++ 910 Tabbed Pages +++ */
/* use absolute position trick to avoid page bump when inserting tabmenu 
 * "tabs" surrounds the actual tab-content :only border right-bottom-left
 * "tabmenu" visualises the actuals tabs :border-bottom to close the tabs box
 * "tabmenu a" for the actual tabs :border left-top-right to draw the tab
 *    Note:margin-left -2px to compensate border-width ico you want adjacent tabs
 *          increase/decrease margin-left to create space between the tabs
 *   "active" is the active tab  :border-bottom --white-- to 'reopen' the tabmenu border
 *   "alerttab" is a --red-- tab used in edit mode for msg like lock etc.
 */
.hidetab {
	height:0;
	overflow:hidden; 
}
.tabs {
	padding:0.5em;
	border:1px solid #bbb;
	border-top:none;
}
.tabmenu {
	padding:0.25em 1em;
	font-weight:bold;
	line-height:normal;
	border-bottom:1px solid #bbb;
} 
/* IE only:top 2px to have same size as inside '.tabmenu a' elements */
* html .tabmenu {
	margin-top:1px;
}
.tabmenu a {
	margin-left:-1px;
	padding:0.25em 0.5em;
	border:1px solid #bbb;
	border-bottom:none;
	color:gray;
	background:#eee;
	text-decoration:none;
	cursor:pointer;
}
.tabmenu a:hover {
	color:blue;
}
.tabmenu a.activetab {
	color:black;
	background:transparent;
	border-bottom:1px solid white;
	cursor:default;
}


/* +++ 910 Accordion +++ */
.accordion,  .tabbedAccordion {
	border:1px solid #bbb;
	margin-bottom:0.5em;
}
.accordion .toggle {
	background:#d7d7d7;
	cursor:pointer;
	font-weight:bold;
	line-height:1.4;
	padding:0.25em 1em;
}
.toggle:hover {
	color:blue;
}
.accordion .tab {
	padding:0 1em;
}

.togglemenu {
	color:grey;
	font-weight:bold; 
	margin-top:1em;
	line-height:1.2;
	padding:0.25em 0.5em;
}
.togglemenu .toggle {
	background:#eee;
	border:1px solid #bbb;
	border-bottom:none;
	cursor:pointer;
	display:inline;
	margin-left:-1px;
	padding:0.25em 0.5em;
}
.togglemenu .toggle.active {
	background:transparent;
	border-bottom:1px solid white;
	cursor:default;
	color:black;
} 
.tabbedAccordion {
	border:1px solid #bbb;
	padding:0.5em;
}
/* ie only hack no needed ?
* html .togglemenu {
	margin-top:1px;
}  
*/

/* margin is not compatible with scrollHeigth used by accordion - replace it by padding */
.tab h1, .tab h2, .tab h3, .tab h4, 
.tab p, .tab pre, .tab blockquote, .tab label, 
.tab ul, .tab ol, .tab dl, .xxtab hr {
	margin:0 auto;
	padding-top:0.5em;
	padding-bottom:0.5em;
}


/* +++ 912 wiki columns +++ */
.columns {
}
.columns .col {
	float:left;
	padding:0 0.25em;
}

/* +++ 915 Tips +++ */
.tip-anchor {
	border-bottom:2px solid #545454;
	cursor:pointer;
}
.tip-tip {
	color:white;
	width:172px;
	z-index:100;
	font-size:90%;
}
.tip-title {
	font-weight:bold;
	margin:0 0 1px 0;
	padding:8px 8px 4px;
	background:url(images/tip.png) top left;
}
.tip-text {
	padding:4px 8px 8px;
	background:url(images/tip.png) bottom right;
}


/* +++ 920 Collapsable lists +++ */
div.collapse ul, div.collapse ol {
	margin-left:1.5em;
	padding:0;
}
div.collapse * ul, div.collapse * ol {
	margin-left:0;
	padding-left:1.5em;
}
div.collapse li {
	list-style:none;
	position:relative;
}
/* collapse icons */   
.collapseBullet, .collapseOpen, .collapseClose {
	text-decoration:none;
	font-weight:bold;
	color:blue;
	font-family:Monaco, "Courier New", Courier, monospace;
	padding:0.25em;
	font-variant:small-caps;
}
.collapseOpen:hover, .collapseClose:hover {
	background-color:#f93;
	color:white;
}
.collapseOpen,
.collapseClose {
	cursor:pointer;
}

.collapseBullet,
.collapseOpen,
.collapseClose {
	position:absolute;
}

.collapse .collapseBullet, .collapse .collapseOpen, .collapse .collapseClose { 
	left:-1.5em !important;
	right:auto !important;
}

/* +++ collapsebox +++ */
.collapsebox {
	border:1px solid #bbb;
	position:relative;
	margin:1em 0;
	overflow:hidden;
}
/*IE bug -- set width to ensure position:relative working properly */
* html .collapsebox {
	width:99%;
}  
.collapsebox h2, .collapsebox h3, .collapsebox h4 {
	margin:0;
	padding:0.25em 0.5em;
}
.collapsetitle {
}
.collapsebody {
	margin:0 1em;	 
}
.collapsebox .collapseOpen, .collapsebox .collapseClose {
	left:auto;
	right:0;
	top:0;
}
.collapsebox .quicklinks { 
	display:none;
}


/* +++ 930 Sortable tables +++ */
.sortable .sortAscending, .sortable .sortDescending, .sortable .sort {
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:0.25em 50%;
}
.sortable .sort, .sortable .sortAscending, .sortable .sortDescending {
	padding-left:16px;
}
.sortable .sort {
	background-image:url(images/sortable.gif);
}
.sortable .sortAscending {
	background-image:url(images/sorted_down.gif);
}
.sortable .sortDescending {
	background-image:url(images/sorted_up.gif);
}


/* +++ 940 SLIMBOX Attachment viewer etc. +++ */
a.slimbox {
	font-weight:bold;
	font-size:1.3em;
	padding:0 0.2em;
}
a.slimbox:visited, a.slimbox:active, a.slimbox:link {
	text-decoration:none;
	border:none;
}
a.slimbox:hover {
	background:#f93;
}

#lbOverlay {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	background-color:#000;
	cursor:pointer;
}
#lbCenter, 
#lbBottomContainer {
	position:absolute;
	left:50%;
	overflow:hidden;
	background-color:#fff;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:90%;
	color:#666;
	line-height:1.5;
	text-align:left;
}
.lbLoading {
	background:#fff url(images/spin.gif) no-repeat center;
}
#lbImage {
	border:10px solid #fff;
	border-top-width:1.4em;
	background-repeat:no-repeat;
	background-position:center center;
	position:relative;
}
#lbPrevLink, 
#lbNextLink {
	display:block;
	position:absolute;
	top:0;
	width:45%;
	outline:none;
}
#lbPrevLink {
	left:10px;
}
/*#lbPrevLink:hover {
	background:transparent url"images/prevlabel.gif") no-repeat 0% 15%;
}*/
#lbNextLink {
	right:10px;
	text-align:right;
}
/*#lbNextLink:hover {
	background:transparent url"images/nextlabel.gif") no-repeat 100% 15%;
}*/

/*
#lbCenter,
#lbBottom {
	font-family:Verdana, Helvetica, sans-serif;
	font-size:10px;
					  color:#666;
	line-height:1.4em;
	text-align:left;
}*/
#lbBottom {
	border:10px solid #fff;
	border-top-style:none;
}
/*#lbCloseLink {
	display:block;
	float:right;
	width:66px;
	height:22px;
	background:transparent url(images/closelabel.gif) no-repeat center;
	margin:5px 0;
}*/
#lbBottomContainer *:visited, #lbBottomContainer *:active, #lbBottomContainer *:link,
#lbCenter *:visited, #lbCenter *:active, #lbCenter *:link {
	text-decoration:none;
	border-bottom:none;
}
#lbCloseLink {
	display:block;
	float:right;
}
#lbCaption,
#lbNumber {
	margin-right:20%;
}
#lbCaption {
	font-weight:bold;
}


/* +++ 950 Categorised +++ */
.categoryLink {
	border-bottom:2px solid #fc3;
} 
.categoryPopup {
	border:2px solid #f93;
	background:#fc3;
	position:absolute;
	z-index:10;
	font-size:0.9em;
}
.categoryTitle {
	padding:0.5em;
}
.categoryTitle a:link   { 
	font-weight:bold;
}
.categoryText {
}
.categoryText ul {
	list-style:none;
	padding:0 !important;
}
.categoryText li {
	padding:0 0.5em;
}
.categoryTitle:hover, .categoryText li:hover { 
	background:#f93;
}


/* Pretty printing styles. Used with prettify.js. */
pre.prettyprint {   
}

.str { color: #489a1b; } /* string 080*/
.kwd { color: #1b609a; } /*keyword 008*/
.com { color: #888; } /*800*/
.typ { color: #666; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}


/* 
.kw1 {	color: #1b609a;}
.kw2 {	color: #9a6f1b;}
.me1 {	color: #666;}
.kw3, .re0, .sc1 {	color: #784e0c;}
.br0 {	color: #444;}
.st0 {	color: #489a1b; }
.co1, .coMULTI { color: #888; }
.nu0 {	color: #70483d; }
@end */