/* Set the master look here */
body { font-family: arial, helvetica, sans-serif; 
       font-size: 0.9em;
     }
*    { margin:0; padding: 0; }
       
/* Use as div 'block enclosure' to clear floats properly. This works across browsers
   (even IE). Also known as the Wyke-Smith/Alsett/Holly 'clearfix' hack */
.block:after  { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.block        { display: inline-block; }
* html .block { height: 1%;}
.block        { display: block; }

/* +++ 001 LAYOUT of main ID blocks +++ */
#wikibody { margin: 4px 2.5% 4px 2.5%; padding: 3px; }

#header,
#actionsTop,
#page,
#actionsBottom,
#footer        { float: right; clear: right; width: 80%; }
#favorites     { position:absolute; top:80px; left:2.5%; width: 18%; }
#actionsTop    { float:right; }

#applicationlogo { display: block; }
#companylogo     { display: none; }

#header .pagename        { float: left; clear: both; }
#header .searchbox       { float: right; }
#header .breadcrumbs     { clear: both; }

#actionsTop .quick2Top,
#actionsTop .username,
#actionsTop .pageInfo,
#actionsBottom .quick2Bottom,
#actionsBottom .username { display: none; }

#favorites .username        { display: block; }
#favorites .actionComment,
#favorites .actionPrefs,
#favorites .actionAttach,
#favorites .actionInfo,
#favorites .pageInfo     { display: none; }

#footer .copyright       { clear: both; }

/* +++ 002 LOOK and FEEL of main blocks with ID +++ */
#wikibody { margin: 4px 2.5% 4px 2.5%; padding: 3px; }

#header { margin: 0 0 4px 0; padding: 0 0 0em 0;
          border-bottom: 2px solid silver; }

#searchboxMenu  { padding: 4px;
                  position: absolute; background: white;
                  border: 2px solid silver; font-size: 85%; }
#recentSearches { margin: 0.5em 0 0 0.5em; color: silver; }
#recentSearches div { color: black; cursor: pointer;}

#actionsTop     { text-align: right; width: auto; border: 1px solid silver; border-bottom: 0px; background: #fff0ff; }
#actionsBottom  { text-align: right; width: auto; border: 1px solid silver; border-top: 0px; background: #fff0ff; }

#page           { margin-top: 0.5em; }

#favorites { padding: 2px; overflow: hidden;
             font-family: arial, helvetica, sans-serif; }
#favorites .pageactions  { text-align: center; font-size: 85%; }

#applicationlogo { text-align: center; }
#companylogo { }

/* placeholder for specifics if needed */
#pagecontent    {  }
#pagecomments   {  }
#editcontent    {  }
#addcomment     {  }
#edithelp       { font-size: 85%; }
#searchbar      { font-size: 85%; margin: 1em; 0; }
#searchbarhelp  { font-size: 85%; }
#searchbar2     { font-size: 85%; color: grey; } /*inactive color */
#findquery      {  }
#findhelp       {  }
#infocontent    {  overflow: auto; }
#infocontent tr { vertical-align: top; }
#infocontent th { text-align: left; white-space: nowrap;  }
#referingto     {  }
#referencedby   {  }
#versionhistory {  }
#versionhistory td { white-space: nowrap; }

#userPrefs    {  }
#userPrefs tr { vertical-align: top; }
#removePrefs  {  }

#previewcontent { background: #E0E0E0;  }
#diffcontent  {  }

#conflict,
#conflictother,
#conflictown  {  }


#footer { margin: 4px 0 0 0;
          border-top: 2px solid silver; }

/* +++ 003 LOOK and FEEL of main css classes +++ */
.pagename    { font-size: 150%; font-weight: bold; margin: 0.5em 0.5em 0.5em 0; }
.searchbox   { margin: 1em 0.5em 0.5em 0.5em; }
.breadcrumbs { font-size: 75%; padding: 0 1.5em 0.5em 0em; }
.myfavorites { margin-bottom: 0.5em; border: 1px solid black; }
.boxtitle { padding: 0.25em; text-align: center;
            border-bottom: 1px solid black; }

div.calendar { border: 1px solid black; }
.leftmenu       { margin: 0 0 1em 0; padding: 2px; white-space: nowrap; }
.leftmenufooter { margin: 1em 0 0 0; padding: 2px; white-space: nowrap; }

.wikiversion,
.rssfeed      { font-size: 85%; padding: 12px 0; text-align: center; }

.pageactions { margin:0; padding: 0.25em; font-size: 85%; }

.actionView,
.actionEdit,
.actionComment,
.username,
.actionPrefs,
.actionAttach,
.actionInfo    { padding: 0 0.5em 0 0; }
.pageInfo      { font-style: italic; padding: 0.5em; }
.username      { font-style: italic; font-weight: bold; }
.copyright { }



/* Put all generic definitions here. */
h1,h2,h3,h4 { font-family: Arial, Helvetica, sans-serif;
              margin: 1em 0 0.75em 0;
              letter-spacing: -0.05em; word-spacing: 0.15em; }

h2 { border-bottom: 2px grey solid }
h3 { border-bottom: 1px grey solid }

div.small   { font-size: 70%; }
h1.pagename { margin-top: 0; }
img.inline  {}

a.footnoteref { vertical-align: super; 
                font-size: 70%; }
a.footnote    { color: #0044AA; }
p.versionnote { color: blue;
                font-size: 120%;
                text-align: center; 
                background: #EAEAEA;
                padding: 12px 12px 12px 12px;
                }

/* Added in v1.5.1 */

h3.leftmenuheading { margin-top: 0; }
body.view          { background-color: white; }   /* Wiki.jsp BODY element */
body.edit          { background-color: #D9E8FF; } /* Edit.jsp BODY element */
body.comment       { background-color: #EEEEEE; } /* Comment.jsp BODY element */
.leftmenu { font-family: arial, helvetica, sans-serif; }  /* Left menu */
a.wikipage  { }                            /* Normal, internal wiki reference */
a.editpage  { 
	color: #FF0000;
 	text-decoration: none;
 	border-bottom: 1px dashed red;
 	}
a.external  { }                            /* External reference */
a.interwiki { }                            /* Interwiki reference */

/* Added in 1.6.3 */
td.diffadd  { background: #99FF99; 
              font-family: monospace; }
td.diffrem  { background: #FF9933; 
              font-family: monospace; }
td.diff     { background: #FFFFFF; 
              font-family: monospace; }

/* Added in 1.6.9 */

table.wikitable { }
table.wikitable * td { text-align: left; }
table.wikitable * th { }

/* Paragraphs, Lists and bullets */
p     { margin: 0.5em 0; }
ol,ul { margin: 0.35em 0 0.35em 1.25em; }
li    { margin: 0.3em 0.75em; }
hr    { margin: 0.5em 0; }

/* This is the Edit.jsp editor style */
textarea.editor {}

pre { 
      white-space: pre;
      margin:      1em 2em 1em 2em; 
      background:  #f0f0f0;
      border:      1px dotted #3c78b5;
      overflow: auto;
     }

/* The text how the "This is a preview" comment should be shown. */
.previewnote {
               text-align: center;
               background:  #fff0f0;
               padding: 1em;
               }

/* How the preview content should be shown */
.previewcontent {
                  background: #E0E0E0;
                  padding: 1em;
                  } 

/* How the system messages should be shown (DisplayMessage.jsp) */
.messagecontent { background: #E0E0E0; }

/* How the "This page has been modified..." -comment should be shown. */

.conflictnote { }

/* For the weblog plugin */

.weblog { margin-left: 20px; }

.weblogentry { }

.weblogentryheading { background: #E0E0E0;
                      font-size: 100%;
                      font-family: sans-serif; 
                      margin-top: 2ex; }

.weblogentrybody { font-family: sans-serif; 
                   font-size: 85%; 
                   margin-left: 10px; }

.weblogentryfooter { font-size: 85%; 
                     margin-left: 10px;
                     clear: both; }

.locknote { color: red;
            font-size: 100%;
            text-align: center; 
            background: #EAEAEA;
            padding: 12px 12px 12px 12px;
            margin: 0px;
            border-left: 2px solid black;
            border-right: 2px solid black;
            }

/* For the CalendarTag */
table.calendar  { font-size: 85%; }
table.calendar td { text-align: center; }

table.calendar td.othermonth { color: #707070; }

table.calendar td.link { background: #E0E0E0; }

table.calendar tr.month { font-size: 120%;
                          font-family: sans-serif; }
table.calendar tr.weekdays { color: #FF0000; }


/* For the image plugin tag. */
.imageplugin { margin: 5px 5px 5px 5px; }
.imageplugin img { border: 0; }
.imageplugin caption { font-size: 85%; }

/* For the search_highlight.js.  This style defines the how the words that have
   been found look like.  If you look for "thingy", you will get these following
   in the results.

   <span class="searchword">thingy</span>
 */
.searchword { background-color: #FFFF00; }

/* For the weblogarchive plugin. */

.weblogarchive { }

.weblogarchive ul { margin-top: 0px;
                    padding: 0px; }

.weblogarchive li { display: block;
                    list-style-type: none;
                    margin-left: 1em; }

.archiveyear { font-weight: bold;
               text-decoration: none;
               margin-left: 0px !important; }
.archiveyear:after { content: " AD" }

/*  Error handling  (2.2+) */

.error { color: #ff2222; 
         font-weight: bold; }

/*  Index plugin */

div.index {}
div.index .header { padding: 4px; background: #f0f0f0; }
div.index .body {}
div.index .section { color:red; }

/*  Table of contents plugin */

.toc {
     background: #f0f0ff;
     border: 1px solid grey;
     padding: 8px;
     font-size: 80%;
}

.toc h4 {
	 margin-top: 0px;
}

.toc ul {
     list-style: none;
     margin-left: 0;
     padding-left: 0;
}

.toc li {
     padding-left: 0;
     display: block;
}

.toc li.toclevel-1 {
     margin-left: 0.5em;
}

.toc li.toclevel-2 {
	 margin-left: 1.5em;
}

.toc li.toclevel-3 {
	 margin-left: 2.5em;
}

/*  Here's a nice style you can use to put comment boxes on pages.  It's used
    on some pages. */

div.commentbox {
   float:right;
   width: 20%;
   border-style: inset;
   background: #f0f0f0;
   font-size: 85%;
   padding: 4px;
   margin-left: 4px;
}

.commentbox ul, .commentbox ol {
   padding-left: 1em;
   margin-left: 4px;
}

/*  To make centering easier */

.center { 
    text-align: center;
}

.center table { 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* The CSS Styles for the Contextual diff provider */

.diff-wikitext 
    { margin: 10px; 
      padding: 5px; 
      border-width: thin; border-style:inset; 
      font-family: courier new , monospace;  }


.diff-insertion 
    { background: #ddffdd; text-decoration:  none; color: #8000ff; } 

.diff-deletion 
    { background: #ffdddd; text-decoration: line-through; color: red; } 

.diff-nextprev 
    { font-size: 85%; vertical-align: super; text-decoration: none; }


.zebr-table th
    { background:  #e0e0e0;
    }
    
.zebra-table tr.odd td
    { background:  #f0f0f0;
    }

.versionhistory
    { font-size: 85%;
      font-family: arial, helvetica, sans-serif;
    }

.attachments
    { font-family: arial, helvetica, sans-serif;
      font-size: 85%;
    }

.attachments h3
    { margin-bottom: 0px;
      padding-bottom: 0px; }

 .versionhistory
    { font-size: 85%;
       font-family: arial, helvetica, sans-serif;
    }
    

 /* +++ 420 Attachment Quick Viewer +++ */

#attachments          {}
#attachments .list    { float: left; min-width: 300px; }
#attachments .preview { float: right; }

#attachImg { margin:0; vertical-align: middle; text-align: center;
             height: 300px; width: 300px; 
             border: 4px solid #e0e0e0; }
#attachSelect { margin: 0.5em 0; font-size: 85%; }

/* +++ 430 Tabbed Pages +++ */
/* use absolute position trick to avoid page bump when inserting tabmenu */
.tabs               { margin: 0; padding: 1em;
                      border: 1px solid gray; border-top: none; }
.tabmenu            { margin: 0; padding: 0.25em 0 0.25em 1em;
                      border-bottom: 1px solid gray; }
.tabmenu span       { margin: 0; padding: 0; overflow: hidden; }
.tabmenu span a     { color: grey; background: #dddddd;
                      font: 85% arial, helvetica, sans-serif;
                      margin: 0 0 0 -1px; padding: 0.25em 0.5em;
                      text-decoration: none; cursor: pointer;
                      border: 1px solid gray; border-bottom:none; }
.tabmenu .activetab { color: black; background: white;
                      font-weight: bold;
                      border-bottom: 1px solid white; cursor: default;  }
.edit .tabmenu a    { background: white; }
.edit .tabmenu .activetab
                    { background: #D9E8FF; border-bottom: 1px solid #d9e8ff;}
.tabmenu .alerttab a, .edit .tabmenu .alerttab a
                    { color: white; background: red; }
.tabmenu .alerttab .activetab, .edit .tabmenu .alerttab .activetab
                    { color: red; background: #D9E8FF;
                      border-bottom: 1px solid #d9e8ff; }

/* +++ 440 Quick Section Links +++ */
.quicklinks { float: right; clear: both;
              border: 1px solid blue; background: white; font-size: 85%; }

.quick2Top  a,
.quick2Prev a,
.quick2Edit a,
.quick2Next a,
.quick2Bottom a { font-family: webdings; color: blue; text-decoration: none; }

.arrow { font-family: webdings; }
.arrow a { text-decoration:none; }


/* +++ 450 Graph Bars +++ */
.graphBars { overflow: auto; }
.graphBar { background: #ff9933; color: #ff9933; }
.gBar { white-space: nowrap; }

/* +++ 460 Collapsable lists +++ */
ul { margin: 0; padding-left: 1.5em; }

div.collapse ul ,
div.collapse ol   { margin-left: 1.5em; padding:0; }
div.collapse * ul ,
div.collapse * ol { margin-left:0 ; padding-left: 1.5em; }
     
div.collapse li   { list-style: none; position: relative; }

/* relative to the containing LI */     
.collapseBullet,
.collapseOpen,
.collapseClose { position: absolute; left: -1.5em;
                 font-weight: bold; color: blue; }
.collapseOpen,
.collapseClose { cursor: pointer; }

.collapseOpen:hover,
.collapseClose:hover { background: #FF9933; color: white; }

/* collapsebox */
.collapsebox    { border: 1px solid gray; position:relative; margin: 1em 0;}
.collapsebox h2,
.collapsebox h3,
.collapsebox h4 { margin: 0; padding: 0.25em 0.5em; }
.collapsebody   { margin: 0.5em 1em;  }

.toc .collapsebox { border: 0; margin: 0; }

.collapsebox .collapseOpen,
.collapsebox .collapseClose { top:0; left:auto; right:0.5em;
                              font-size: 13px; }
.collapsebox .quicklinks { display: none; }

/* +++ Sortable tables +++ */
.sortable .sort,
.sortable .sortAscending,
.sortable .sortDescending { padding: 0 1.25em;
                            background-color: #f0f0f0;
                            background-repeat: no-repeat; 
                            background-position: 0.25em 50%; }
.sortable .sortAscending  { background-image: url(images/bulletDown.png); }
.sortable .sortDescending { background-image: url(images/bulletUp.png); }

/* Form elements */
div.formcontainer                      { width: 440px; margin: 20px 0 0 0; }
div.formcontainer form                 { border-bottom: 2px solid silver; }
div.formcontainer div.block            { vertical-align: top;
                                         padding: 10px 0px;
                                         border-top: 1px solid silver; }
div.formcontainer form label           { width: 120px; float: left;
                                         padding-top: .25em; 
                                         margin: 0 10px;
                                         font-size: 85%; }
div.formcontainer input                { padding: 0.15em;
                                         font-family: arial, helvetica, sans-serif; 
                                         font-size: 85%em; }
div.formcontainer input[type='submit'] { float:right; margin: 0 10px; }
div.formcontainer .instructions        { margin: 0.5em 0; font-size: 85%; }
div.formcontainer .description         { margin: 0.5em 10px 0.5em 140px;
                                         font-size: 85%; font-style: italic; }
