/*
 * CSS intended specificly for print media
 */
.applicationlogo, .companylogo,
.searchbox, .breadcrumbs, .pageactions, .quicklinks,
#actionsTop, #actionsBottom, #favorites,
#addattachment,
.collapsebox .collapseOpen, .collapsebox .collapseClose, 
.table-filter .filterrow, .tabmenu { 
	display:none; 
}
#attachments, #addcomment,
#pagelinks, #pagecontent, 
#editcontent, #previewcontent, #diffcontent, #infocontent,
#findquery, #userPrefs, 
#pagecontent .tabmenu { 
	display:block;
	visibility:visible; 
}
tt,pre {
	overflow:visible; 
}

/* Show links as normal text (maybe show urls at the bottom of the page) */
a { 
	text-decoration:none; 
}
/*print href of each link
a:after 		{ content:attr(href); color:grey;
          		  font-family:"Courier New", Courier, mono; font-size:8pt; }
*/

/* Give the content what it deserves. */
.pagename, #header, #footer, #page { 
	width:100%; 
	margin:0; 
	padding:0; 
	float:none;
	clear:both;
	position:static;
}
.hidetab { 
	display:block;
}
.accordion .active, .tabbedAccordion .active { 
	height:auto !important;
}
a.slimbox {
	display:none;
}