H1,H2,H3,H4 { font-family: Arial, Helvetica, sans-serif }
H1 { font-size: 36px }
H2 { font-size: 24px }
H3 { font-size: 20px }
H4 { font-size: 16px }
P,UL,OL,BODY,TD { font-size: 16px }
FORM { font-size: 14px }
PRE { font-size: 14px }
DIV.small { font-size: 70% }
H1.pagename {}
IMG.inline {}

A.footnoteref { vertical-align: super; 
                font-size: 70%; }
A.footnote { color: #0044AA; }
P.versionnote { color: red;
                font-size: 130%;
                text-align: center; }

/* Added in v1.5.1 */
H3.leftmenuheading { }
BODY.edit { background-color: #D9E8FF; } /* Edit.jsp BODY element */
TD.leftmenu { }                          /* Left menu */
TD.page { }                              /* Page data area */
A.wikipage { }                           /* Normal, internal wiki reference */
A.external { }                           /* External reference */
A.interwiki { }                          /* Interwiki reference */

/* Added in 1.6.3 */
TD.diffadd  { background: #99FF99; 
              font-family: monospace; }
TD.diffrem  { background: #FF9933; 
              font-family: monospace; }
TD.diff     { background: #FFFFFF; 
              font-family: monospace; }

/* Added in 1.6.9 */

TABLE.wikitable { }
TABLE.wikitable * TD { text-align: left; }
TABLE.wikitable * TH { }

/* Added in 1.6.13 */

/* This is the Edit.jsp editor style */
TEXTAREA.editor {}

/* Added in 1.9.20 */

/* The text how the "This is a preview" comment should be shown. */
.previewnote { text-align: center; 
                font-size: 150%; 
                    color: red; }

/* How the preview content should be shown */
.previewcontent { background: #E0E0E0; }

/* How the system messages should be shown (DisplayMessage.jsp) */
.messagecontent { background: #E0E0E0; }

/* How the "This page has been modified..." -comment should be shown. */

.conflictnote { }

.weblog { margin-left: 20px; }

.weblogheading { background: #E0E0E0;
                 font-size: 120%;
                 font-family: sans-serif; 
                 margin-top: 2ex; }

.weblogentry { font-family: sans-serif; 
               font-size: 85%; 
               margin-left: 10px; }

.weblogpermalink { font-size: 8px; 
                   margin-left: 10px; 
                   clear: both; }

P.locknote { color: red;
             font-size: 130%;
             text-align: center; 
             background: #EAEAEA;
             padding: 12px 12px 12px 12px;
             }

/* For the CalendarTag */

 TABLE.calendar  { font-size: 60%;
                   text-align: center; }

 TD.month        { font-size: 70%;
                   text-align: center;
                   font-weight: bold;
                   font-family: sans-serif; }

 TD.weekdays     { color: #FF0000;        /* days heading */
                   font-size: 60%; }

 TD.days         { font-size: 60%; 
                   text-align: center;}
										 
 TD.link         { color: #FF2222; background: #E0E0E0;
                   font-size: 60%;
                   text-align: center; }

 TD.othermonth   { color: #707070; 
                   font-size: 60%; 
                   text-align: center}

/* For the BreadcrumbsTag */
.breadcrumbs { font-size: 60%; }

/* For the image plugin tag. */
.imageplugin { margin: 5px 5px 5px 5px; }
.imageplugin img { }
.imageplugin caption { font-size: 80%; }
