<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>

   <display-name>JSPWiki</display-name>
   <description>
       JSPWiki is a free JSP-based WikiClone.  It is licenced
       under the GNU General Public License.

       JSPWiki is maintained by Janne Jalkanen (+others),
       jalkanen+jspwiki@ecyrd.com
   </description>

   <!-- This means that we don't have to use redirection
        from index.html anymore.  Yay! -->
   <welcome-file-list>
       <welcome-file>Wiki.jsp</welcome-file>
   </welcome-file-list>

   <!--
       Here we define the users which are allowed to access JSPWiki
       editor.

       I'll provide here an example case where you can set up a Wiki
       which allows everyone read access, but only authenticated
       users are allowed to edit (i.e. access the Edit.jsp page).

       To enable this, remove the comments signs.

       We setup here two sample roles, "admin" and "user".
       There is no real difference between these two for now.

       You must also add to your $TOMCAT_HOME/conf/tomcat-users.xml
       the actual user accounts.
   -->

   <!--  START OF ACCESS RESTRICTION
   <security-constraint>
       <web-resource-collection>
           <web-resource-name>Protected Area</web-resource-name>
           <url-pattern>/Edit.jsp</url-pattern>
           <http-method>DELETE</http-method>
           <http-method>GET</http-method>
           <http-method>POST</http-method>
           <http-method>PUT</http-method>
       </web-resource-collection>

       <auth-constraint>
           <role-name>admin</role-name>
           <role-name>user</role-name>
       </auth-constraint>
   </security-constraint>

   <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>JSPWiki Editor</realm-name>
   </login-config>

   -->

</web-app>
