/*
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
*/

/*
 * vanilla skin                          
 * additional .css on top of jspwiki.css 
 */

/*
 * empty skin template                          
 * additional .css on top of jspwiki.css 
 */

 /* +++ 010 LAYOUT of main ID blocks +++ */
 /* +++ 020 LOOK and FEEL of main blocks with ID +++ */
 /* +++ 200 Generic stuff here +++ */
 /* +++ 210 Page titles, headings, and paragraphs +++ */
 /* +++ 220 Lists and bullets +++ */
 /* +++ 225 Forms, Labels, form-values and form-help +++ */
 /* +++ 230 Horizontal rules +++ */
 /* +++ 240 Pre-formatted text blocks and code +++ */
 /* +++ 250 Hyperlinks +++ */
 /* +++ 260 Image styles, and Logo +++ */
 /* +++ 270 Footnotes and small text +++ */
 /* +++ 280 Convenience styles and info/warning/error dialogs +++ */
 /* +++ 290 Comment boxes (used on some pages) +++ */
 /* +++ 300 Wiki tables and zebra tables +++ */
 /* +++ 350 Attachments +++ */
 /* +++ 400 Styles for specific JSPs +++ */
 /* +++ 405 AttachmentTab.JSP +++ */
 /* +++ 410 CommentContent +++ */
 /* +++ 415 ConflictContent +++ */
 /* +++ 420 DiffContent and Diff Providers: Traditional and External +++ */
 /* +++ 421 Contextual diff provider +++ */
 /* +++ 425 Edit/EditContent and CommentContent +++ */
 /* +++ 430 Edit/EditContent +++ */
 /* +++ 440 Favorites +++ */
 /* +++ 450 FindContent / 450 Graph Bars +++ */
 /* +++ 455 Footer +++ */
 /* +++ 460 Header +++ */
 /* +++ 465 InfoContent +++ */
 /* +++ 470 PageActions.jsp +++ */
 /* +++ 475 PageContent.jsp +++ */
 /* +++ 475 PreviewContent - "This is a preview" comment +++ */
 /* +++ 480 PreferencesContent, LoginContent, GroupContent +++ */
 /* +++ 485 SearchBox +++ */
 /* +++ 490 ViewTemplate +++ */
 /* +++ 600 JSPWiki plugins +++ */
 /* +++ 610 Image plugin +++ */
 /* +++ 203 image plugin stuff +++ */
 /* +++ 620 Index plugin +++ */
 /* +++ 625 Table of contents plugin +++ */
 /* +++ 630 Weblog and weblogarchive plugins +++ */
 /* +++ 800 JSPWiki JSP Taglibs +++ */
 /* +++ 805 CalendarTag +++ */
 /* +++ 900 "Special-effects" JavaScript styles +++ */
 /* +++ 905 Search highlights +++ */
 /* +++ 910 Tabbed Pages +++ */
 /* +++ 920 Collapsible lists +++ */
 /* +++ 930 Sortable tables +++ */
 /* +++ 940 Quick Section Links +++ */