#
# This is a sample authentication and access configuration
# file for FileAuthenticator and FileAuthorizer.
#
# You might consider pointing your configuration to a 
# WikiPage. The FileAuthorizer and FileAuthenticator 
# should cope with that. You may want to remove hashes,
# though, and definitely forgo any extra text on the page.
#

#
# Access rules for a default wiki: allow read and write by all.
#
default ALLOW READ ALL
default ALLOW WRITE ALL

#
# You may replace the above or add more restrictions.
# The format of the rules is
#
# [ALLOW|DENY] [READ|WRITE] [ALL|rolelist]
#
# Capitalized words are keywords; rolelist is one or more
# roles (specified below), separated by commas.
#
# Page-specific permissions are appended to these, and the
# rule list is traversed backward until a conclusive match
# is found. The form of a rule on a WikiPage looks like a 
# plugin: [{ALLOW READ roleA,roleB}]
#

#
# Users and their roles.
# Per-line entries are started with the 'user' keyword, 
# followed by the user name, the crypted password, and 
# a comma-separated list of roles the user has. The
# roles may be any string without whitespace or commas.
# (A naming convention is recommended.)
#
# Try running 
# 'java -cp JSPWiki.jar com.ecyrd.jspwiki.auth.Crypt yourpassword'
# to get a hashed password entry. 
#
# NOTE: a single special role exists to designate
#       users as administrators. The 'admin' role
#       always has full access everywhere JSPWiki.
#
user sample 37H4tKKUxp2 role1,     role2, role3
user boss   Txp2tgrwGWD admin

#
# In addition to the ALLOW/DENY rules described above, 
# a second level of mapping is available, if it fits
# your preferences. Roles may be mapped to permissions,
# and a REQUIRE rule may be used to match a permission.
# REQUIRE rules are always conclusive: they either deny
# or permit access to READ or WRITE, and any previous 
# rules are never checked. 
#
# Format of the REQUIRE instruction:
# 
#   REQUIRE [READ|WRITE] permissionname
#
# Format of role mappings: 
#
#   role rolename permissionnamelist
#
role role1 samplepermission_1, samplepermission_2
