H1,H2,H3,H4 { font-family: Arial, Helvetica, sans-serif }
DIV.small { font-size: 70% }
H1.pagename {}
IMG.inline {}

A.footnoteref { vertical-align: super; 
                font-size: 70%; }
A.footnote { color: #0044AA; }
P.versionnote { color: red;
                font-size: 130%;
                text-align: center; }

/* Added in v1.5.1 */
H3.leftmenuheading { }
BODY.edit { background-color: #FFD0FF; } /* Edit.jsp BODY element */
TD.leftmenu { }                          /* Left menu */
TD.page { }                              /* Page data area */
A.wikipage { }                           /* Normal, internal wiki reference */
A.external { }                           /* External reference */
A.interwiki { }                          /* Interwiki reference */


/* Added in 1.6.3 */
div.diffadd { background: #99FF99; 
              padding: 0, 0.5em, 0, 0.5em;
              margin-top: 0;
              margin-bottom: 0;
              font-family: monospace;
              border: none; }
div.diffrem { background: #FF9933; 
              padding: 0, 0.5em, 0, 0.5em;
              margin-top: 0;
              margin-bottom: 0;
              font-family: monospace;
              border: none; }
div.diff   { background: #FFFFFF; 
              padding: 0, 0.5em, 0, 0.5em;
              margin-top: 0;
              margin-bottom: 0;
              font-family: monospace;
              border: none; }
