H1,H2,H3,H4 { font-family: Arial, Helvetica, sans-serif }
DIV.small { font-size: 70%; }
H1.pagename {}
IMG.inline {}

A.footnoteref { vertical-align: super; 
                font-size: 70%; }
A.footnote { color: #0044AA; }
P.versionnote { color: red;
                font-size: 130%;
                text-align: center; }

