/*
Jasmine testrunner stylesheet,
adapted for JSPWiki.
*/
body {
	font:76%/140% Verdana,Arial,Helvetica,sans-serif;
	margin:0;
	padding:0;
}

h1 {
 	margin:5px;
	padding:5px;
	background:#41464d;
	color:#f3f1f1;
	height:30px;
	font: 25px/1.1 Arial, sans-serif;
	font-weight:bolder;
	text-shadow:0 2px 2px rgba(0,0,0,0.4);
}
h1 span {
	color:#d2e0e6;
}
/*
p {
	margin-top: 5px;
	padding-left: 20px;
}
.fail {
	background: url( ../images/fail-16.png ) no-repeat;
	padding-left: 20px;
	color: red;
}
.failInSummary {
	color: red;
}
*/
.runner {
	border: 2px solid #bbb;
	margin: 5px;
	padding: 1em 20px;
	background-position: 2px 1em !important;
}
.runner.running {
	background:#fdfbd0 url(./images/spinner.gif ) no-repeat;
}
.suite {
	border:2px solid #bbb;
	margin:5px;
	padding:0.25em 20px;
	font-weight:bold;
}
.suite.passed {
	background-color: #cfc;
}
.suite.failed {
	background-color: #fdd;
}
.spec {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin: 5px;
	padding:0.25em 20px;
	clear: both;
	font-weight:normal;
}
.passed {
	background:#9f9 url(./images/go-16.png ) 2px 2px no-repeat;
	color: #41464D;
}
.failed {
	background:pink url(./images/fail-16.png ) 2px 2px no-repeat;
	color:#c00;
}
.skipped {
	color:#777;
	xbackground:#e0e0ff;
}
.resultMessage {
	white-space: pre;
}
.stackTrace {
	white-space:pre;
	margin:0 1em;
	height:7em;
	overflow: auto;
	border: 1px solid #bbb;
	padding: 0.5em;
	background: #eef;
	font:90% Monaco, "Courier New", Courier, monospace;
}
.runSpec {
	margin-left: 5px;
	float: right;
}
#jasmine_content {
	position:fixed;
	left: 100%;
}
