/*
    JSPWiki - a JSP-based WikiWiki clone.

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); fyou may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
*/
/*
Style: WeblogPlugins
    Styling of weblogs and weblogarchive plugins

DOM structure:
(start code)
(end)
*/

a[href*="NewBlogEntry.jsp"] { .btn; .btn-primary; }


.weblog {
    margin:0 2em;
    clear:both;
}
.weblogentry {
    margin:0.5em 0;
}
.weblogentryheading {
    padding:0.25em 0.5em;
    font-size:90%;
    font-family: @wiki-logo-font-family;
    float:right;
}
.weblogentrytitle {
    margin-bottom:.5em;
    padding:0.25em 0.5em;
    font-size:150%;
    font-family: @wiki-logo-font-family;
    line-height:1.5;
    border-bottom:1px solid @wiki-sidebar-bg;
}
.weblogentrybody {
    margin-left:0.5em;
    clear:both;
}
.weblogentryfooter {
    font-size:90%;
    padding:0.25em 0.5em;
    //border-bottom:3px solid @pre-bg;
    clear:both;
}
/*.weblogarchive {
}
.weblogarchive ul {
}*/
.weblogarchive li {
    margin-left:1em;
    display:block;
    list-style-type:none;
}
.archiveyear {
    font-weight:bold;
    text-decoration:none;
    margin-left:0 !important;
}
.archiveyear:after {
    content:" AD";
}

.weblogcommentstitle {
    background:@pre-bg;
    margin:1em 0.5em 0 0.5em;
    padding:0.5em;
    font-weight:bold;
    font-size:120%;
    line-height:1.1;
}
.weblogcomments {
    background:#f9f9f9/*#COMMENT#*/;
    margin:0 0.5em 1em 0.5em;
    padding:1em;
}